/* Шрифты */
@font-face {
    font-family: 'Machinec';
    src: url(/assets/MachineC/machinec.otf);
  }
@font-face {
    font-family: 'Akrobat-Regular';
    src: url(/assets/Akrobat/Akrobat-Regular.otf);
  }
@font-face {
    font-family: 'Akrobat-SemiBold';
    src: url(/assets/Akrobat/Akrobat-SemiBold.otf);
  }
@font-face {
    font-family: 'Akrobat-Regular';
    src: url(/assets/Akrobat/Akrobat-Regular.otf);
  }
@font-face {
    font-family: 'Akrobat-ExtraLight';
    src: url(/assets/Akrobat/Akrobat-ExtraLight.otf);
  }
@font-face {
    font-family: 'Akrobat-ExtraBold';
    src: url(/assets/Akrobat/Akrobat-ExtraBold.otf);
  }


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Настройка скроллбара */
*::-webkit-scrollbar {
    width: 10px;
    background-color: #f4f2f2;
  }
  
  *::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #B8342D;
  
  }
  
  *::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
  border-radius: 10px;
  background-color: #ffffff;
  }

  
.root{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #EDEFF1;
}
@media (max-width:768px) {
    *::-webkit-scrollbar {
        width: 0px;
      }
     
}



/* Header */
.header_container{
    width: 100%;
    height: 4vw;
    background-color: #B8342D;
    padding: 0 20vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo_container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}
.logo_header_container{
    display: flex;
    flex-direction: column;
    gap: .3vw;
}
.logo_header{
    color: white;
    font-family: 'Akrobat-SemiBold';
    font-size: .7vw;
    width: 12vw;
    display: flex;

}
.logo{
    height: 3vw;
    width: auto;
    cursor: pointer;
}
.logo_header2{
    color: white;
    font-family: 'Akrobat-SemiBold';
    font-size: .5vw;
    width: 12vw; 
}
.nav_container{
    display: flex;
    gap: 0;
    gap: .7vw;
}
.nav_link{
    color: white;
    font-family: 'Machinec';
    font-size: .9vw;
    text-transform: uppercase;
    cursor: pointer;
    transition: all .3s;
}
.nav_link:hover{
    opacity: .8;
}
.burgerTrigger{
    display: none;
}
.x{
    display: none;
}
@media (max-width:768px) {
    .x{
        display: block;
        position: absolute;
        top: 3vh;
        right: 3vh;
        color: white;
        font-size: 7vw;
        z-index: 999;
    }
    .burgerTrigger{
        display: block;
        transform: rotate(90deg);
        letter-spacing: .3vh;
    }
    .header_container{
        height: 10vh;
        padding: 0 3vw;
    }
    .logo_header{
        font-size: 2.3vw;
        width: 40vw;
    
    }
    .logo{
        height: 5vh;
    }
    .logo_header2{
        margin-top: .6vh;
        font-size: 1.7vw;
        width: 40vw; 
    }
    .nav_container{
        display: flex;
        gap: 3vh;
        position: fixed;
        top: 0;
        left: -100vw;
        height: 100vh;
        width: 100vw;
        background-color: #050c15f4;
        z-index: 999;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition:  transform .3s ease-in-out;
    }
    .nav_active{
        transform: translateX(100%);
    }
    .nav_link{
        font-size: 6vw;
    }

     
}


/* Main */
.main_container{
    margin: 7vw 0;
    position: relative;
}
.main_bacground_image{
    position: absolute;
    height: 100%;
    width: auto;
    top: 0;
    right: 5%;
    z-index: 0;
    user-select: none;
}
.main_text_container{
    display: flex;
    flex-direction: column;
    padding: 0 20vw;
    margin: 0;
    width: 100%;
}
.crumbs{
    color: black;
    font-family: 'Akrobat-SemiBold';
    font-size: .9vw;
    display: flex;
    align-items: center;
    gap: .2vw;
}
.crumbs span{
    color: #B8342D;
    font-size: 1.3vw;
}
.main_header{
    color: #162E4E;
    font-family: 'Machinec';
    font-weight: 200;
    font-size: 6vw;
    text-transform: uppercase;
    cursor: pointer;
    transition: all .3s;
    width: 30vw;
    margin-bottom: 8vw;
}
.main_header span{
    color: #B8342D;
}
.main_logo_container{
    display: flex;
    width: 20vw;
    margin-top: 1vw;
    gap: 4vw;
    z-index: 99;
}
.main_logo_container:last-child{
    gap: 5vw;
}
.main_logo_container img{
    width: 3.5vw;
    height: auto;
    transition: all.3s;
    z-index: 9;
    
}
.main_logo_container img:hover{
    transform: scale(103%);
}
@media (max-width:768px) {
    .main_container{
        margin: 7vw 0;
        position: relative;
        height: 80vh;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .main_bacground_image{
        position: absolute;
        height: auto;
        width: 140%;
        top: 27vh;
        right: -55vw;
        z-index: 1;
    }
    .main_text_container{
        display: flex;
        flex-direction: column;
        padding: 0 3vw;
        margin: 0;
        width: 100%;
        align-items: flex-start;
    }
    .crumbs{
        color: black;
        font-family: 'Akrobat-SemiBold';
        font-size: 3vw;
        display: flex;
        align-items: center;
        gap: .2vw;
    }
    .crumbs span{
        color: #B8342D;
        font-size: 4vw;
    }
    .main_header{
        color: #162E4E;
        font-family: 'Machinec';
        font-weight: 200;
        font-size: 20vw;
        text-transform: uppercase;
        cursor: pointer;
        transition: all .3s;
        width: 60vw;
        margin-bottom: 8vw;
        margin-top: 1vh;
        line-height: .9;
    }
    .main_logo_container{
        display: flex;
        flex-wrap: wrap;
        width: 50vw;
        margin-top: 4vh;
        gap: 5vh;
        align-items: center;
        justify-content: center;
    }
    .main_logo_container:last-child{
        gap: 5vh;
        padding: 0 4vw;
    }
    .main_logo_container img{
        width: 6vh;
        height: auto;
        z-index: 99;
        margin: 0 2vw;
    }
}


/* About */
.about_container{
    position: relative;
    width: 100%;
    height: 30vw;
    display: flex;justify-content: end;
    padding-right: 20vw;
}
.about_bacground_image{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: auto;
    z-index: 0;
}
.about_text_container{
    display: flex;
    flex-direction: column;
    width: 20vw;
}
.about_text_header{
    color: #B8342D;
    font-family: 'Machinec';
    font-size: 1.3vw;
    text-transform: uppercase;
    z-index: 1;
}
.about_text_text{
    color: black;
    font-family: 'Akrobat-SemiBold';
    font-size: .8vw;
    z-index: 1  ;
    margin-top: 0.8vw;
    opacity: .5;
}
@media (max-width:768px) {
    .about_container{
        position: relative;
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        padding-right:0vw;
        padding: 5vh 0;
    }
    .about_bacground_image{
        position: absolute;
        top: 0;
        left: 0vw;
        height: auto;
        width: 100%;
        z-index: 0;
        opacity: .6;
    }
    .about_text_container{
        display: flex;
        flex-direction: column;
        width: 90vw;
        margin-top: 40vh;

    }
    .about_text_header{
        color: #B8342D;
        font-family: 'Machinec';
        font-size: 6vw;
        text-transform: uppercase;
        z-index: 1;
    }
    .about_text_text{
        color: black;
        font-family: 'Akrobat-SemiBold';
        font-size: 3vw;
        z-index: 1  ;
        margin-top: 0.8vw;
        opacity: .5;
    } 
}
/* Pleers */
.pleers_container{
    position: relative;
    width: 100%;
    height: 35vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 20vw;
    padding-top: 3vw;
}
.pleers_bacground_image{
    position: absolute;
    top: 0;
    right: 0;
    height: auto;
    width:  100%;
}
.pleers_header_container{
    display: flex;
    align-items: center;
    gap: 5vw;
}
.pleers_header{
    color: #B8342D;
    font-family: 'Machinec';
    font-size: 1.3vw;
    text-transform: uppercase;
    z-index: 1;
}
.pleers_description{
    color: black;
    font-family: 'Akrobat-SemiBold';
    font-size: .8vw;
    z-index: 1  ;
    margin-top: 0.5vw;
    opacity: .5;
    width: 15vw;
}
.pleers_city_container{
    display: flex;
    flex-direction: column;
}
.pleers_city{
    display: flex;
    color: #B8342D;
    font-size: 1.7vw;
    font-family: 'Machinec';
    z-index: 1;
    gap: .4vw;
}
.pleers_city span{
    color: #162E4E;
}
@media (max-width:768px) {
    .pleers_container{
        position: relative;
        width: 100%;
        height: 90vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-left: 0vw;
        padding-top: 3vw;
        opacity: 1;
    }
    .pleers_bacground_image{
        position: absolute;
        top: 5vh;
        right: -30vw;
        height: auto;
        width:  200%;
        opacity: .6;
    }
    .pleers_header_container{
        display: flex;
        align-items: flex-start;
        gap: 5vw;
        flex-direction: column;
        padding-left: 5vw;
    }
    .pleers_header{
        color: #B8342D;
        font-family: 'Machinec';
        font-size: 6vw;
        text-transform: uppercase;
        z-index: 111;
    }
    .pleers_description{
        color: black;
        font-family: 'Akrobat-SemiBold';
        font-size: 3vw;
        z-index: 1  ;
        margin-top: 0.5vw;
        opacity: .8;
        width: 80vw;
        text-align: center;
    }
    .pleers_city_container{
        display: flex;
        flex-direction: column;
        padding-left: 10vw;
        margin-bottom: 3vh;
    }
    .pleers_city{
        display: flex;
        color: #B8342D;
        font-size: 8vw;
        font-family: 'Machinec';
        z-index: 1;
        gap: .4vw;

    }
    .pleers_city span{
        color: #162E4E;
    }
}

/* PleersCards */
.pleers_cards_container{
    display: flex;
    flex-wrap: wrap;
    padding:  4vw 20vw;
    width: 100%;
    height: auto;
    justify-content: space-between;
    transition: all .3s;
}
.pleers_card{
    position: relative;
    background-color: #E7E9EC;
    height: 13vw;
    width: 13vw;
    margin-top: 3vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1vw;
    cursor: pointer;
}
.pleers_card:hover{
    background-color: #dbdde0;
}
.pleers_card_red{
    position: absolute;
    top: 10%;
    right: 0;
    width: 30%;
    height: auto;
}
.pleers_card_logo{
    width: 3vw;
    height:  auto;
}
.pleers_card_text_container{
    display: flex;
    flex-direction: column;
}
.pleers_card_header{
    color: #B8342D;
    font-size: 1.3vw;
    font-family: 'Machinec';
}
.pleers_card_city{
    color: #162E4E;
    font-size: .8vw;
    font-family: 'Machinec';
    margin-top: 0.3vw;
}
@media (max-width:768px) {
    .pleers_cards_container{
        display: flex;
        flex-wrap: wrap;
        padding:  4vw 0vw;
        width: 100%;
        height: auto;
        justify-content: center;
    }
    .pleers_card{
        position: relative;
        background-color: #E7E9EC;
        height: 70vw;
        width: 70vw;
        margin-top: 3vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding: 5vw;
    }
    .pleers_card_red{
        position: absolute;
        top: 10%;
        right: 0;
        width: 30%;
        height: auto;
    }
    .pleers_card_logo{
        width: 20vw;
        height:  auto;
    }
    .pleers_card_text_container{
        display: flex;
        flex-direction: column;
    }
    .pleers_card_header{
        color: #B8342D;
        font-size: 7vw;
        font-family: 'Machinec';
    }
    .pleers_card_city{
        color: #162E4E;
        font-size: 5vw;
        font-family: 'Machinec';
        margin-top: 0.3vw;
    }
    
}

/* Arena */
.arena_container{
    display: flex;
    flex-direction: column;
    padding: 5vw 12vw 5vw 20vw;

}
.arena_header{
    color: #B8342D;
    font-size: 1.7vw;
    font-weight: 100;
    font-family: 'Machinec';
    margin-bottom: 1vw;
}
.arena_card_container{
    display: flex;
    position: relative;
    height: 23vw;
}
.arena_blur_container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:#162e4e41; /* Убедитесь, что фон полупрозрачный */
    z-index: 1; 
}
.arena_photo_box{
    clip-path: polygon(0 0, 100% 0%, 85% 100%, 0% 100%);
    overflow: hidden;
    position: relative;
    width: 60%;

}
.arena_img{
    width: 100%;
    height: auto;
}
.arena_red_box{
    width: 40%;
    height: 100%;
    background-color: #B8342D;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 2vw 5vw;
    clip-path: polygon(23% 0, 100% 0%, 80% 100%, 0% 100%);
    margin-left: -5.5vw;
    position: relative;
}
.arena_icon{
    position: absolute;
    top:1vw;
    right:1vw;
    width: 1.7vw;
    height: auto;
}
.arena_red_box_name{
    color: #ffffff;
    font-size: 1.7vw;
    font-weight: 100;
    font-family: 'Machinec';
}
.arena_red_box_adress{
    color: #ffffff;
    font-size: .8vw;
    font-weight: 100;
    font-family: 'Akrobat-Regular';
    margin-top: 0.2vw;
}
@media (max-width:768px) {
    .arena_container{
        display: flex;
        flex-direction: column;
        padding: 5vw 2vw 5vw 2vw;
        margin-top: 5vh;
    }
    .arena_header{
        color: #B8342D;
        font-size: 7vw;
        font-weight: 100;
        font-family: 'Machinec';
        margin-bottom: 3vh;
        padding-left: 5vw;
    }
    .arena_card_container{
        display: flex;
        flex-direction: column;
        position: relative;
        height: auto;
        align-items: center;
    }
    .arena_blur_container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color:#162e4e41; /* Убедитесь, что фон полупрозрачный */
        z-index: 1; 
    }
    .arena_photo_box{
        clip-path: none;
        overflow: hidden;
        position: relative;
        width: 90%;
    
    }
    .arena_img{
        width: 100%;
        height: auto;
    }
    .arena_red_box{
        width: 90%;
        height: auto;
        background-color: #B8342D;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 12vw 5vw 7vw 5vw;
        clip-path:none;
        margin-left: 0vw;
        position: relative;
    }
    .arena_icon{
        position: absolute;
        top:3vw;
        right:3vw;
        width: 4vw;
        height: auto;
    }
    .arena_red_box_name{
        color: #ffffff;
        font-size: 5vw;
        font-weight: 100;
        font-family: 'Machinec';
    }
    .arena_red_box_adress{
        color: #ffffff;
        font-size: 3vw;
        font-weight: 100;
        font-family: 'Akrobat-Regular';
        margin-top: 0.2vw;
    }
}


/* Schedule */
.schedule_container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2vw;
    position: relative;
}
.schedule_header{
    color: #B8342D;
    font-size: 1.7vw;
    font-weight: 100;
    font-family: 'Machinec';
    margin-bottom: 1vw;
    width: 100%;
    padding:  0 20vw;
}
.schedule_bacground_image{
    width: 100%;
    height: auto;
    z-index: 0;
    margin-bottom: 3vw;
}
.schedule_partners_image{
    width: 60%;
    height: auto;
    margin-top: 3vw;
    margin-bottom: 5vw;
    z-index: 0;
}
.schedule_text_container{
    position: absolute;
    top: 7vw;
    left: 20vw;
    width: 60vw;

}
.schedule_button_container{
    display: flex;
    height: 2vw;
    z-index: 1;
    gap: .7vw    ;
}
.schedule_button{
    color: #B8342D;
    font-size: .8vw;
    font-weight: 100;
    font-family: 'Akrobat-Regular';
    border:1px solid #B8342D;
    padding: 1vw 1.3vw;
    border-radius: .3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .3s;
}
.schedule_button:hover{
    color: white;
    background-color: #B8342D;
}
.schedule_button_active{
    color: white;
    background-color: #B8342D;
}
.schedule_button_active:hover{
    background-color: #8d150e;
}
.schedule_card{
    display: flex;
    justify-content: space-between;
    margin-top: 1vw;
}
.schedule_comands{
    display: flex;
    align-items: center;
}
.schedule_time{
    background-color: #B8342D;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .3vw 1vw;
    clip-path: polygon(23% 0, 100% 0%, 80% 100%, 0% 100%); 
    color: #ffffff;
    font-size: .8vw;
    font-weight: 100;
    font-family: 'Machinec';
    margin-right: 1vw;
}
.schedule_logo{
    height: 1vw;
    width: auto;
}
.schedule_comand_name{
    color: #162E4E;
    font-size: .9vw;
    font-family: 'Machinec';
    margin: 0 .5vw;
}
.schedule_slesh{
    color: #B8342D;
    font-weight: 800;
    font-size: 1;
}
.schedule_translation{
    height: 1.4vw;
    width: auto;
    cursor: pointer;
}
.red{
    background: transparent;
    color: #B8342D;
}
.head{
    font-size: 1vw;
}
.sliderContainer{
    width: 60vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.partners_logo{
    width: 4vw;
    height: auto;
    margin: 10 5vw;
    transition: all .3s;
}
.partners_logo:hover{
    transform: scale(102%);
}
.clider_card{
    width: 10vw;
    height: 10vw;
}
@media (max-width:768px) {
    .schedule_container{
        width: 100%;
        height:auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 5vh;
        position: relative;
    }
    .schedule_header{
        color: #B8342D;
        font-size: 7vw;
        font-weight: 100;
        font-family: 'Machinec';
        margin-bottom: 1vw;
        width: 100%;
        padding:  0 0 0 5vw;
    }
    .schedule_bacground_image{
        width: 100%;
        height: 100%;
        z-index: 0;
        margin-bottom: 5vh;
        opacity: 0;
        
    }

    .schedule_text_container{
        position: absolute;
        top: 7vw;
        left: 5vw;
        width: 90vw;
    
    }
    .schedule_button_container{
        display: flex;
        height: 2vw;
        z-index: 1;
        gap: .7vw    ;
        margin-bottom: 10vh;
        margin-top: 3vh;
    }
    .schedule_button{
        color: #B8342D;
        font-size: 5vw;
        font-weight: 100;
        font-family: 'Akrobat-Regular';
        border:1px solid #B8342D;
        padding: 2vh 7vw;
        border-radius: 2vw;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: all .3s;
    }
    .schedule_button:hover{
        color: white;
        background-color: #B8342D;
    }
    .schedule_button_active{
        color: white;
        background-color: #B8342D;
    }
    .schedule_button_active:hover{
        background-color: #8d150e;
    }
    .schedule_card{
        display: flex;
        justify-content: space-between;
        margin-top: 3vh;
    }
    .schedule_comands{
        display: flex;
        align-items: center;
    }
    .schedule_time{
        background-color: #B8342D;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: .5vh 3vw;
        clip-path: polygon(23% 0, 100% 0%, 80% 100%, 0% 100%); 
        color: #ffffff;
        font-size: 3vw;
        font-weight: 100;
        font-family: 'Machinec';
        margin-right: 1vw;
    }
    .schedule_logo{
        height: 6vw;
        width: auto;
        display: none   ;
    }
    .schedule_comand_name{
        color: #162E4E;
        font-size: 3vw;
        font-family: 'Machinec';
        margin: 0 .5vw;
    }
    .schedule_slesh{
        color: #B8342D;
        font-weight: 800;
        font-size: 1;
    }
    .schedule_translation{
        height: 5vw;
        width: auto;
    }
    .red{
        background: transparent;
        color: #B8342D;
    }
    .head{
        font-size: 6vw;
    }
    .sliderContainer{
        width: 95vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .partners_logo{
        width: 25vw;
        height: auto;
        margin: 10 5vw;
    }
    .clider_card{
        width: 40vw;
        height: 40vw;
    }
}


/* Footer */
.footer_container{
    width: 100%;
    height: 13vw;
    background-color: #162E4E;
    display: flex;
    padding: 0 20vw;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 2vw;
}
.footer_logo_container{
    display: flex;
    align-items: center;
    gap: 1vw;
}
.logo_footer_container{
    display: flex;
    flex-direction: column;
    gap: .3vw;
}
.logo_footer{
    color: white;
    font-family: 'Akrobat-SemiBold';
    font-size: .7vw;
    width: 12vw;
    display: flex;

}
.footer_logo{
    height: 3vw;
    width: auto;
    cursor: pointer;
}
.logo_footer2{
    color: white;
    font-family: 'Akrobat-SemiBold';
    font-size: .5vw;
    width: 12vw; 
}
.footer_nav_container{
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 0;
    gap: .1vw;
}
.footer_nav_container a{
    color: white;
    font-family: 'Akrobat-ExtraBold';
    font-weight: 100;
    font-size: .8vw;
    text-transform: uppercase;
    cursor: pointer;
    transition: all .3s;
    text-decoration: none;
}
.footer_nav_container span:hover{
    opacity: .8;
}
.column{
    display: flex;
    flex-direction: column;
}
.footer_icon_container{
    display: flex;
    gap: .7vw;
    margin-top: .3vw;
}
.footer_icon_container a img{
    width: 1vw;
    height: auto;
}
.footer_link_container{
    display: flex;
    gap: 1vw;
}
.footer_link_container a{
    color: white;
    font-family: 'Akrobat-ExtraLight';
    font-size: .5vw;
    text-decoration: none;
    margin-top: 3vw;
    opacity: .9;
}
@media (max-width:768px) {
    .footer_container{
        width: 100%;
        height: auto;
        background-color: #162E4E;
        display: flex;
        padding: 5vh 0vw;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .footer_logo_container{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1vw;
    }
    .logo_footer_container{
        display: flex;
        flex-direction: column;
        gap: .3vw;
    }
    .logo_footer{
        color: white;
        font-family: 'Akrobat-SemiBold';
        font-size: 5vw;
        width: 100vw;
        display: flex;
        text-align: center;
        margin-top: 1vh;
    
    }
    .footer_logo{
        height: 40vw;
        width: auto;
        cursor: pointer;
    }
    .logo_footer2{
        color: white;
        font-family: 'Akrobat-SemiBold';
        font-size: 4vw;
        width: 100vw; 
        text-align: center;
        margin-top: 1vh;
    }
    .footer_nav_container{
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 0;
        gap: .1vw;
        display: none;
    }
    .footer_nav_container a{
        color: white;
        font-family: 'Akrobat-ExtraBold';
        font-weight: 100;
        font-size: .8vw;
        text-transform: uppercase;
        cursor: pointer;
        transition: all .3s;
        text-decoration: none;
    }
    .footer_nav_container span:hover{
        opacity: .8;
    }
    .column{
        display: flex;
        flex-direction: column;
    }
    .footer_icon_container{
        display: flex;
        gap: 10vw;
        margin-top: 3vw;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .footer_icon_container a img{
        width: 10vw;
        height: auto;
    }
    .footer_link_container{
        display: flex;
        gap: 1vw;
        display: none;
    }
    .footer_link_container a{
        color: white;
        font-family: 'Akrobat-ExtraLight';
        font-size: .5vw;
        text-decoration: none;
        margin-top: 3vw;
        opacity: .9;
    }
}



/* Modal */

.modal_container{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.833);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}



/* Карусель */

.alice-carousel__prev-btn{
    z-index: 11;
    
}
.alice-carousel__prev-btn-wrapper{
    z-index: 11;
}
.alice-carousel__prev-btn-item{
    position: absolute;
    bottom: 3vw;
    left: -27vw;
    z-index: 999;
    background-color: white;
    width: 3vw;
    height: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: .1vw;

}
.alice-carousel__prev-btn-item span{
    color: #8d150e;
    font-size: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.alice-carousel__prev-btn-wrapper{
    z-index: 999;
}
.alice-carousel__prev-btn{
    z-index: 11;
    
}
.alice-carousel__next-btn-wrapper{
    z-index: 11;
}
.alice-carousel__next-btn-item{
    position: absolute;
    bottom: 3vw;
    left: -23vw;
    z-index: 999;
    background-color: white;
    width: 3vw;
    height: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: .1vw;
    cursor: pointer;

}
.alice-carousel__next-btn-item span{
    color: #8d150e;
    font-size: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.alice-carousel__next-btn-wrapper{
    z-index: 999;
}
.alice-carousel{
    z-index: 11 ;
}
.alice-carousel__dots{
    display: none;
}
@media (max-width:768px) {
    .alice-carousel__prev-btn{
        z-index: 11;
        margin-top: 5vh;
    }
    .alice-carousel__prev-btn-wrapper{
        z-index: 11;
    }
    .alice-carousel__prev-btn-item{
        position: relative;
        bottom: 3vw;
        left: 0vw;
        z-index: 999;
        background-color: white;
        width: 20vw;
        height: 10vw;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-radius: .1vw;
    
    }
    .alice-carousel__prev-btn-item span{
        color: #8d150e;
        font-size: 5vw;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .alice-carousel__prev-btn-wrapper{
        z-index: 999;
    }
    .alice-carousel__prev-btn{
        z-index: 11;
        
    }
    .alice-carousel__next-btn-wrapper{
        z-index: 11;
    }
    .alice-carousel__next-btn-item{
        position: relative;
        bottom: 3vw;
        left: 0vw;
        z-index: 999;
        background-color: white;
        width: 20vw;
        height: 10vw;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-radius: .1vw;
    
    }
    .alice-carousel__next-btn-item span{
        color: #8d150e;
        font-size: 5vw;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .alice-carousel__next-btn-wrapper{
        z-index: 999;
    }
    .alice-carousel{
        z-index: 11 ;
    }
    .alice-carousel__dots{
        display: none;
    }
}